
.background1{
    position:relative;
width: 1440px;
min-height: 500px;
left: 0px;
top: 0px;
margin: 0 auto;
background: #ED4C5C;
display: flex;
}

.fmain1{
    position:relative;
    width: 445px;
    height: 107px;
    left: 165px;
    top: 122px;
    
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    
    color: #FFFFFF;
}

.f1{
    position: absolute;
    width: 445px;
    height: 64px;
    left: 165px;
    top: 253px;
    
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    /* or 20px */
    
    text-align: justify;
    
    color: #FFFFFF;
}

.app{
    position:absolute;
    width: 134px;
    height: 32px;
    left: 163px;
    top: 357px;
}

.photo{
    position:absolute;
    width: 533px;
height: 311px;
left: 691px;
top: 94px;
}

.background2{
    position: relative;
    width: 1440px;
    height: 500px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    display: flex;
    margin: 0 auto;
}

.contact{
    position: relative;
    width: 445px;
    height: 107px;
    left: 176px;
    top: 117px;
    
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    
    color: #000000;
}

.textcontact{
    position: absolute;
    width: 434px;
    height: 64px;
    left: 176px;
    top: 213px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    text-align: justify;
    color: #000000;
}

.f{
position: absolute;
width: 255px;
height: 60px;
left: 735px;
top: 117px;
border: 1px solid #333333;
box-sizing: border-box;
border-radius: 6px;
font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
color: rgba(19, 39, 67, 0.5);
}

.f2{
    position: absolute;
    width: 255px;
    height: 60px;
    left: 1020px;
    top: 117px;
    order: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 6px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: rgba(19, 39, 67, 0.5);
}

.f3{
    position: absolute;
    width: 540px;
    height: 60px;
    left: 735px;
    top: 201px;
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 6px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: rgba(19, 39, 67, 0.5);
}

.f4{
    position: absolute;
    width: 540px;
    height: 60px;
    left: 735px;
    top: 285px;
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 6px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: rgba(19, 39, 67, 0.5);
}

.background3{
position: relative;
width: 1440px;
height: 435px;
left: 0px;
top: 0px;
display: flex;
margin: 0 auto;
background: #FAFAFA;
}

.adress{
    position: absolute;
    width: 65px;
    height: 22px;
    left: 166px;
    top: 85px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #101010;
}

.textadress{
    position: absolute;
    width: 254px;
    height: 54px;
    left: 166px;
    top: 140px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #101010;
}

.service{
    position: absolute;
    width: 67px;
    height: 22px;
    left: 450px;
    top: 85px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #101010;
}

.textservice{
    position: absolute;
    width: 254px;
    height: 114px;
    left: 450px;
    top: 140px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 160%;
    text-transform: capitalize;
    color: #000000;
}

.getintouch{
    position: absolute;
width: 101px;
height: 22px;
left: 734px;
top: 85px;
font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;
text-align: center;
color: #101010;
white-space:nowrap;
}

.email{
    position: absolute;
    width: 122px;
    height: 14px;
    left: 734px;
    top: 140px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #101010;
}

.number{
    position: absolute;
    width: 96px;
    height: 14px;
    left: 734px;
    top: 165px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}

.social{
    position:relative;
    width: 66px;
    height: 14px;
    left: 734px;
    top: 199px;
}

.wesup{
    position: absolute;
width: 96px;
height: 22px;
left: 1022px;
top: 85px;
font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;
color: #101010;
white-space:nowrap;
}

.bank{
    position: absolute;
width: 216px;
height: 31px;
left: 1028px;
top: 140px;
background: url(secure-p-1.png);
}

.copyright{
    position: absolute;
    width: 155px;
    height: 14px;
    left: 161px;
    top: 335px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #101010;
}

.bt{
    position: absolute;
    width: 160px;
    height: 50px;
    left: 735px;
    top: 375px;
    background: #ED4C5C;
    border: 1.5px solid #ED4C5C;
    box-sizing: border-box;
    border-radius: 6px;


    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #FFFFFF;
}
