.square {
    background-color: grey;
}

.wrapper {
    margin-top: 30px;
    margin-left: 600px;    
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(6, 50px);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
 }

 .square:nth-child(1n+21) {
    background-color: blue;
  }

 .square:nth-child(4n+3) {
    background-color:red;
  }

button {   
    position: relative;
    margin-top: 50px;
    margin-left: 5px;
    width: 501px;
    height: 92px;
    background: #44D3A8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 100px;
    font-family: Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    cursor: pointer;
  }

.button-create::before {
    content: "";
    display: inline-block;
    margin-left: 271px;
    width: 200px;
    height: 8px;
    background-color: none;
    border-collapse: collapse;
    border: solid 2px #C4C4C4;
    border-left: none;
    border-right: none;
    cursor: pointer;
}

.button-create::after {
    content: "";
    display: inline-block;
    margin-left: 5px;
    width: 200px;
    height: 8px;
    background-color: none;
    border-collapse: collapse;
    border: solid 2px #C4C4C4;
    border-left: none;
    border-right: none;
    cursor: pointer;
}