html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.resize {
    max-width: 1440px;
    margin-left:400px;
 }

.wrapper {
   display:grid;
   grid-template-columns: 50% 50%;
}

.whelp{
    display:flex;
    align-items:flex-start;
}


.contairheader{
    display: flex;
    align-items: center;
    flex-direction:row;
    padding: 30px 80px;
}

.nav-container {
    display: flex;
    align-items: center;
 }

 .textheader {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
 }
 
 .textheader li {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #4B5D68;
    margin-left:40px;
 }

.logo{
    margin-right: 54.21px;
}

.blubackground{
    display:grid;

    width: 750px;
height: 810px;
background: #2B7AF1;
border-radius: 0px 0px 0px 10px;
margin-left:16px;
}

.email{
    display:flex;
    flex-direction: row;
    align-items:center;
    margin-top:30px;
    margin-left:36px;
    width: 180px;
    height: 40px;
}

.textmailtel{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    margin-left:10px;
    white-space:nowrap; 
}

.tel{
    display:flex;
    flex-direction: row;
    align-items:center;
    margin-top:30px;
    margin-left:20px;
    width: 180px;
    height: 40px;
}

.b1{
    padding: 15px 30px;
    width: 218px;
    height: 52px;
    background: linear-gradient(89.77deg, #FF7A00 0.2%, #FFB039 99.82%);
    box-shadow: 0px 10px 20px rgba(255, 122, 0, 0.2);
    border-radius: 25px;
    border: 0;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    margin-left:25px;
    margin-top:25px;
}

.photoplace{
    background: url(jarek-ceborski-jn7uVeCdf6U-unsplash.jpg);
    filter: drop-shadow(0px 10px 20px rgba(17, 17, 17, 0.1));
    border-radius: 10px 0px 0px 10px;
    width: 895px;
    height: 473px;
    position: relative;
    top:140px;
    right: 804px;
}

.f{
    display:flex;
    flex-direction: row;
}

.contair2{
  display:flex;
  flex-direction: column;
  position: relative;
  width: 413px;
height: 296px;
top:220px;
left:-630px;
}

.headercontair2{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 40px;
line-height: 49px;
color: #111111;
}

.textcontair2{
font-family: 'Open Sans', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 33px;
color: #111111;
margin-top:20px;
}

.b2{
width: 251px;
height: 52px;
background: linear-gradient(89.77deg, #FF7A00 0.2%, #FFB039 99.82%);
box-shadow: 0px 10px 20px rgba(255, 122, 0, 0.2);
border-radius: 25px;
border: 0;
cursor: pointer;
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
text-align: center;
color: #FFFFFF;
margin-top:75px;
}

.contair3{
    display:flex;
    flex-direction: row;
    width: 1280px;
    height: 276px;
    margin-left: 80px;
    position: relative;
    top: -130px;
}

.box{
width: 305px;
height: 231px;
box-shadow: 0 0 10px rgba(0,0,0,0.5);
background: #FFFFFF;
border-radius: 10px;
display:flex;
flex-direction: column;
margin-right:20px;
}

.textbox{
font-family: 'Open Sans', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
text-align: center;
color: #111111;
margin-top:26px;
}

.imgbox{
    width: 81px;
    height: 80px;
    margin-top:40px;
    margin-left:112px;
}

main{
    display: grid;
    grid-template: repeat(2, 300px) / 522px 196px 522px;
    gap: 20px;
    margin-left:80px;
}

.mbox1{
    grid-column: 1/3;
    background-image: url(img/9\ house\ Background.png);
    border-radius: 10px;
    background-size: cover;
    box-shadow: 0px 10px 20px rgb(17 17 17 / 10%);
}

.mbox2{
    grid-column: 3/4;
    background-image: url(img/10\ house\ Background.png);
    box-shadow: 0px 10px 20px rgb(17 17 17 / 10%);
}

.mbox3{
    grid-column: 1/2;
    background-image: url(img/11\ house\ Background.png);
    box-shadow: 0px 10px 20px rgb(17 17 17 / 10%);
}

.mbox4{
    grid-column: 2/4;
    background-image: url(img/12\ house\ Background.png);
    background-size: cover;
    box-shadow: 0px 10px 20px rgb(17 17 17 / 10%);
}

.boxshadow{
    background-color: rgba(17, 17, 17, 0.5);
    border-radius: 10px;
    z-index: 2;
    padding: 0px 20px 20px 40px;
    color: #fff;
    height: 280px;
}

.mheaderbox{
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    padding-top: 116px;
}

.headerbox{
    font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: 44px;
color: #2B7AF1;
margin-left:80px;
margin-bottom:40px;
}

.mtextbox{
    font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
color: #FFFFFF
}

.mheaderbox2{
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    padding-left: 10px;
}

.mcontairbox{
    margin-top:65px;
    display:flex;
    flex-direction: row;
    align-items: flex-end;
}

.madressbox{
    padding-top:24px;
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-bottom:20px;
}

.mboxbutton{
    width:126px;
    height: 33px;
    background: linear-gradient(89.77deg, #FF7A00 0.2%, #FFB039 99.82%);
box-shadow: 0px 10px 20px rgba(255, 122, 0, 0.2);
border-radius: 25px;
border:0;
font-family: "Montserrat", sans-serif;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
text-align: center;
color: #FFFFFF;
float: left;
margin-left: auto;
margin-right:20px;
}

.b3{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
margin-left:568px;
width: 304px;
height: 50px;
background: linear-gradient(89.77deg, #FF7A00 0.2%, #FFB039 99.82%);
box-shadow: 0px 10px 20px rgba(255, 122, 0, 0.2);
border-radius: 25px;
border:0;
cursor: pointer;
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
text-align: center;
color: #FFFFFF;
flex: none;
order: 0;
flex-grow: 0;
margin-bottom:106px;
margin-top:60px;
}

.contair4{
    display:grid;
    grid-template-columns: 40% 20% 20% 20%;
    flex-direction: row;
}

.contair4helper{
    margin-left:80px;
}

.textcontair4{
font-family: 'Open Sans', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
color: #111111;
}

.fbox1{
    width: 433px;
    height: 125px;
}

.fbox2{
    width: 189px;
    height: 88px;
    background-image: url(img/deal\ 1.png);
    background-repeat: no-repeat;
    background-position:left;
    display:flex;
    flex-direction: column;
    text-align:right;
}

.fbox3{
    width: 186px;
    height: 80px;
    background-image: url(img/review\ 2.png);
    background-repeat: no-repeat;
    background-position:left;
    display:flex;
    flex-direction: column;
    text-align:right;
}

.fbox4{
    width: 171px;
    height: 88px;
    background-image: url(img/home\ 1.png);
    background-repeat: no-repeat;
    background-position:left;
    display:flex;
    flex-direction: column;
    text-align:right;
}

.text{
font-family: 'Open Sans', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
color: #111111
}

.headerfbox{
    font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: 44px;
color: #2B7AF1;
margin-bottom:10px;
}

.headerfbox3{
    font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: 44px;
color: #2B7AF1;
margin-bottom:10px;
margin-right: 50px;
}

.headerfbox2{
    font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: 44px;
color: #2B7AF1;
margin-bottom:10px;
position: relative;
left:12px;
}

.headerfbox1{
    font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: 44px;
color: #2B7AF1;
margin-bottom:10px;
position: relative;
left:-10px;
}

hr{
width: 1280px;
height: 1px;
background: linear-gradient(89.77deg, #FF7A00 0.2%, #FFB039 99.82%);
border-radius: 1px;
margin-top:100px;
}

.cont-row {
    grid-column: 1/2;
}

.cont-row {
    display: flex;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}


.contair5{
    height: 429px;
    display: grid;
    grid-template: 46px repeat(6, auto) / 482px 1fr;
    row-gap: 15px;
    column-gap: 40px;
    padding-bottom: 160px;
    margin-top:107px;
    margin-left:80px;
}

.headercontair5{
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    color: #2b7af1;
    padding-bottom: 40px;
}

.textcontact{
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
color: #111111;
margin-left:20px;
}

.map {
    grid-column: 2/3;
    grid-row: 1 / 8;
}

.contact-4{
    margin-top:100px;
}

.sub{
height: 33px;
width: 157px;
background: linear-gradient(89.77deg, #FF7A00 0.2%, #FFB039 99.82%);
box-shadow: 0px 10px 20px rgba(255, 122, 0, 0.2);
border-radius: 25px;
border:0;
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
text-align: center;
color: #FFFFFF;
margin-left:152px;
}

.contair6{
    width: 1440px;
height: 649px;
margin-top:160px;
background: #2B7AF1;
}

.feedback-grid {
    display: grid;
    grid-template: repeat(3, auto) / repeat(2, 630px);
    column-gap: 20px;
    margin-left:80px;
}

.feedback-img {
    right: 40px;
    z-index: -1;
    position: relative;
}

.feedbacktitle{
    color: #fff;
    grid-column: 1/3;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    padding-bottom: 40px;
    margin-left:80px;
    margin-top:100px;
}

.fe-box-1 {
    grid-column: 1/2;
}

.feedback-box-grid {
    background-color: #fff;
    display: grid;
    grid-template-rows: repeat(4, auto);
    padding: 40px;
    border-radius: 10px;
}

.feedbacktext1{
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #2b7af1;
}

.row-1 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding-bottom: 23px;
}

.row-2 {
    padding-bottom: 38px;
}

.row-2 p{
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #111111;
}

.row-4 {
    display: flex;
    justify-content: space-between;
    margin-top:5px;
}

.row-4 :nth-child(1) {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 130%;
    color: #111111;
}

.row-4 :nth-child(2) {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 130%;
    color: #111111;
}

.fe-box-2 {
    grid-column: 2/3;
}

.feedback-slider {
    grid-column: 1/3;
    padding-top: 60px;
    justify-self: center;
}

.section-bottom-grid {
    display: grid;
    grid-template: 451px/393px 1fr;
    padding-top: 100px;
    column-gap: 41px;
    width: 1180px;
    margin-left: 80px;
}

.section-bottom-form-wrapper {
    grid-column: 1/2;
    justify-self: end;
    display: flex;
    flex-direction: column;
    width: 393px;
    height: auto;
    padding: 40px 0px;
    align-items: center;
    background: #ffffff;
    border-radius: 10px;
    filter: drop-shadow(0px -5px 20px rgba(41, 41, 42, 0.2));
    justify-items: end;
}

.sectionheader {
font-family: "Montserrat", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 44px;
color: #2B7AF1;
margin-bottom: 24px;
}

.input {
    display: grid;
    grid-template: repeat(3, auto) / 1fr;
    row-gap: 15px;
}

.input * {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: rgba(17, 17, 17, 0.5);
    border: 1px solid rgba(17, 17, 17, 0.5);
    box-sizing: border-box;
    border-radius: 10px;
    width: 313px;
}

.input input {
    padding: 10px 20px;
}

.section-bottom-form-wrapper textarea {
    width: 313px;
    height: 115px;
}

.manag{
    background-image: url(img/Vector.svg);
    background-repeat: no-repeat;
    background-position: left top;
}

.textmanag{
    font-family: "Open Sans", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 140%;
font-feature-settings: 'liga' off;
color: #111111;
margin-left:84px;
margin-top:40px;
}

.textmanag2{
    font-family: "Open Sans", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 140%;
font-feature-settings: 'liga' off;
color: #111111;
margin-left:84px;
}

.namemanage{
font-family: "Montserrat", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 28px;
font-feature-settings: 'liga' off;
color: #2B7AF1;
flex: none;
order: 0;
flex-grow: 0;
margin-top:20px;
margin-left:84px;
}

.background-overlay {
    background: rgba(17, 17, 17, 0.5);
    width: 100%;
    height: 100%;
}

footer{
    width: 1440px;
    height: 557px;
    background: url(img/img.jpg);
    margin-top: -180px;
    background-color:rgba(0,0,0,.3);
}

.footer-container {
    display: grid;
    height: 60px;
    grid-template-columns: repeat(3, auto);
    column-gap: 53px;
    align-items: center;
    color: #fff;
    padding: 0px 80px;
}

.footer-1 {
    display: grid;
    grid-template: minmax(60px, auto) / repeat(5, auto);
    column-gap: 40px;
    align-items: center;
    margin-top:417px;
}

.footer-btn {
    padding: 19px 34px;
    background: #2b7af1;
    border-radius: 10px;
    border:0;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    height: 60px;
    color: #FFFFFF;
}

.footer-nav {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
}

.footer-2 {
    display: grid;
    grid-template: minmax(60px, auto) / repeat(2, auto);
    column-gap: 20px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    margin-top:417px;
}

.footer-cont-1, .footer-cont-2 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}

.footer-cont-1 {
    grid-column: 1/2;
}

.cont-row1 {
    display: flex;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.cont-row1help {
    margin-left:10px;
}

.footer-cont-2 {
    grid-column: 2/3;
}

.footer-3 {
    display: flex;
    width: 190px;
    margin-top: 417px;
}

.wrapper-local {
    margin-top:433px;
}

.footer-hr {
    background: #c4c4c4;
    padding: 0 20px;
}

.copyright {
    display: flex;
    width: 754px;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    margin-left:80px;
}

.copyright p {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 17px;
    color: #fff;
}