*{
    margin: 0;
    padding: 0;
}


body{
    max-width: 1440px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 1em; 
    line-height: 1.4375;
    color: #4F4F4F;
    font-family: 'Lato', sans-serif;
   
}


.header {
    background: url(img/Frame.png) #F4F6F9 no-repeat top right;
    background-size: contain;
}

.wrapper {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.header_logo {
    margin-bottom: 5.875%;
}

.header_cont {
    padding: 5.4464286% 0 14.642857%;
}

.header_logo {
    margin-bottom: 11.875%;
}

.header_inf {
    width: 37.9166666%;
}

.header_h {
    font-size: 2.25rem;
    line-height: 1.3333333;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
    color: #333333;
}

.header_p {
    font-size: 1.125em;
    line-height: 1.444444444;
    margin-bottom: 50px;
}

.storelinkone {
    text-decoration: none;
    margin-right: 3.214%;
}

.stores{
    display:flex;
    flex-direction: row;
}

.storelinktwo {
    text-decoration: none;
    margin-left:35.9px;
}

main {
    display: block;
}

.contairone{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.backgroundone{
    position: relative;
}

.bg{
    width: 100%;
}

.backgroundone::before{
    content: '';
     position: absolute;
    width: 100%;
     top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(270deg, #FFFFFF 5.16%, rgba(255, 255, 255, 0) 67.14%), rgba(255, 255, 255, 0.5);
}

.backgroundbox2 {
    position: absolute;
    top: 3.7267%;
    left: 20.2485%;
}



.bg2 {
    width: 360px;
    position: relative;
    top: 60px;
    left: -93px;
    z-index: 1;
}

.bg3{
    width: 44.72049689440994%;
    position: relative;
    left: 90px;
    top: -40px;
}

.textbox1{
    padding: 9.23611111111111% 0 8.125%;
}

.subtitle, .link {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;
    margin-bottom: 1.6875em;
    color: #00ADEE;
}

.contair2{
    background: url(img/SAMPLE05.png) no-repeat;
    background-position: center right;
}

.contair2cont{
    width: 33.33333%;
    padding: 19.375% 0 15.268%;
}

.contair2text:first-of-type {
    margin-bottom: 22px;
}

.contair2text:last-of-type{
    margin-bottom: 4.82142857%;
}

.contair2img {
    display: none;
}

.contair3{
    background: url(img/Group\ 696.jpg) no-repeat center;
}

.contair3cont{
    padding: 6.7857% 0 5.8929%;
}

.contair3h{
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 54px;
}

.contair3cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 90px;
    row-gap: 31px;
}

.cardstext{
    color: #FFFFFF;
}

.contair4cont{
    padding: 5.5357% 0 5.0893%;
}

.contair4title{
    text-align: center;
    margin-bottom: 63px;
}

.contair4cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.contair4cards::before {
    content: url(img/Group\ 161.6.svg);
    position: absolute;
    top: 35%;
    left: 5.083333%;
    z-index: 1;
}

.contair4cards::after {
    content: url(img/Group\ 161.7.svg);
    position: absolute;
    top: 35%;
    left: 5.083333%;
    z-index: 1;
}
.contair4slider {
    display: grid;
}

.contair4avatar{
    margin: 0.9375rem 0.763888888888889% 0 5%;
}

.fcards{
    position: relative;
    width: 309px;
    height: 10.0625rem;
    border: 1px solid #828282;
    box-sizing: border-box;
    border-radius: 4px;
}

.acards{
    display: inline-block;
    color: #333333;
    vertical-align: middle;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 23px;
}

.pcards{
    font-size: 0.875rem;
    line-height: 1.285714285714286;
    color: #4F4F4F;
    width: 90.29126213592233%;
    margin-left: 5.501618122977346%;
}

.contair5 {
    background: #FAFAFA;
    padding-bottom: 70px;
}

.company_title {
    font-weight: bold;
    font-size: 1.75rem;
    line-height: 1.321428571428571;
    color: #333333;
    text-align: center;
    margin-top: 3.9375rem;
    margin-bottom: 3.9375rem;
}

.company_content {
    display: flex;
    justify-content: space-between;
}

.contair6 {
    max-width: 1440px;
}

.contair6cont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

@media (max-width: 1220px)
{
.score_img {
    width: 100%;
}

.score_info {
    width: 100%;
    padding-right: 20px;
}
}

.score_info {
    width: 70%;
}

.score_title {
    margin-bottom: 35px;
}

.score_text {
    line-height: 25px;
    margin-bottom: 38px;
}

.footer {
    background: #00ADEE;
}

.footer_content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 4.553571428571428% 0;
}

.footer_list {
    list-style: none;
    display: flex;
}

.footer_item {
    padding-right: 10.277777777777777%;
    text-decoration: none;
    color: #FFFFFF;
}

.footer_socials {
    justify-self: center;
    align-self: end;
    padding-right: 17px;
}

@media (max-width: 1220px){
    .header{
        background-size: 65%; 
        object-fit: contain;
        background-repeat: no-repeat;
    }

    .header_cont {
        padding: 2% 0 5%;
    }

    .header_logo {
        margin-bottom: 5.875%;
    }

    .header_inf {
        width: 100%;
    }

    .header_h{
        font-size: 1.875rem;
        line-height: 1.3333333333;
    }

}

@media (max-width: 935px){
.header {
    background-image: none;
}
}

@media (max-width: 760px){
    body{
        text-align: center;
    }

    .contair3 {
        background: #FAFAFA;
    }

    .contair3h {
        color: #333333;
    }

    .contair3cards{
        grid-template-columns: 1fr;
    column-gap: 0px;
    row-gap: 50px;
    }

    .contair4cont{
        padding: 50px 0 71px;
    }

    .contair4slider{
        display: none;
    }

    .feedback_slider_mob {
        display: block;
        display: flex;
        text-align: center;
    }

    .feedback_cards_mob {
        max-width: 309px;
        position: relative;
        margin-bottom: 33px;
    }

    .feedback_card_mob {
        position: relative;
        max-width: 309px;
        background: #FFFFFF;
        border: 1px solid #828282;
        border-radius: 4px;
        text-align: left;
        padding: 20px 13px 20px 17px;
    }

    .footer_content {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        justify-items: start;
    }

    .footer_socials {
        grid-row: 2;
        justify-self: start;
    }
}

@media (max-width: 825px)
{
    .contairone {
    grid-template-columns: 1fr;
}
.backgroundone::before {
    background: linear-gradient(270deg, #FFFFFF 5.16%, rgba(255, 255, 255, 0) 67.14%), rgba(255, 255, 255, 0.5);
}

.backgroundbox{
    top: -10px;
    left: 90px;
}

.contair2 {
    background: none;
}

.contair2cont {
    padding: 7.515151515151515% 0 3.878787878787879%;
    display: grid;
    grid-template-columns: 1fr;
}


.get_started_info {
    width: 100%;
    margin: 0;
}

.contair2img{
    display: block;
    margin: 0 auto;
}

.contair6cont{
    grid-template-columns: 1fr;
}

}

@media (max-width: 460px){
.bg3 {
    left: 40px;
    top: -69px;
}

}

.feedback_slider_mob {
    display: none;
}